.button {
	border: 1px solid var(--main-color);
	cursor: pointer;
	background-color: transparent;
	color: var(--gray-400);
	padding: 7px 14px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 4px;
}